*{
    margin: 0;
    padding: 0;
}
body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.container{
    min-height: 100vh;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 2.2fr 7fr;
    grid-template-rows: 1fr 5fr;
}

/* sidebar */
#sidebar{
    background-color: dodgerblue;
    grid-row: 1 / 3;
    color: white;
    padding: min(15px, 1vw);
}
#sidebar h2{
    font-weight: 600;
    font-size: min(3vw, 2.5rem);
    padding: 10px;
}
.sidelist{
    list-style-type: none;
    font-size: min(2vw, 1.6rem);
    font-weight: 600;
    padding: min(1vw, 10px);
}
.sidelist li{
    padding: 8px;
    display: flex;
    align-items: center;
}

/* header */
#header{
    background-color: white;
    /* box-shadow: 10px 0 5px black; */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    /* , 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
    position: relative;
}
hr{
    border: none;
}

/* main */
#main{
    background-color: #ddd;
    background-color: white;
    grid-column-start: 2;
}